[Unit]
Description=Openchamber
After=network.target

[Service]
; Environment=PATH={{.chezmoi.homeDir}}/.local/share/mise/shims:/bin:/usr/bin
ExecStart={{.chezmoi.homeDir}}/.local/share/mise/shims/openchamber --port 4000
Restart=always
RuntimeMaxSec=86400

[Install]
WantedBy=default.target
