[Unit]
Description=VSCode Server
After=network.target

[Service]
ExecStart=/home/{{ .chezmoi.username }}/.local/share/mise/shims/nu -c "code serve-web --without-connection-token --host 0.0.0.0 --commit-id 072586267e68ece9a47aa43f8c108e0dcbf44622"
Restart=always
RuntimeMaxSec=86400

[Install]
WantedBy=default.target
