# config for linux
{{if eq .chezmoi.os "linux"}}
[tools]
neovim = "latest"
lazygit = "latest"                       # for lazyvim
tree-sitter = "latest"                   # for lazyvim
node = "latest"                          # for lazyvim
make = "latest"                          # for lazyvim
"aqua:microsoft/vscode/code" = "1.107.1"

# shell
zellij = "latest"
{{end}}
