{
  "$schema": "https://raw.githubusercontent.com/google-gemini/gemini-cli/refs/heads/main/schemas/settings.schema.json",
  "security": {
    "auth": {
      "selectedType": "oauth-personal"
    }
  },
  "general": {
    "previewFeatures": true
  },
  "mcpServers": {
    "github": {
      "command": "github-mcp-server",
      "args": [
        "stdio"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ .secrets.GITHUB_PERSONAL_ACCESS_TOKEN }}"
      }
    },
    "context7": {
      "command": "context7-mcp"
    },
    "serena": {
      "command": "serena-mcp-server"
    }
  }
}
